// reset
* {
  box-sizing: border-box;
  outline: none;
}
//基础字体大小
html {
    font-size: 13px;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2em;
    background: #F1F1F1;
}
a {
    color: #999;
}